.parent {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.child1 {
  border: 1px solid red;
  padding: 5px;
  height: 400px;
}
.child2 {
  border: 1px solid red;
  padding: 5px;
  height: 400px;
}
